/* Page d'accueil */
*{
	transition :  all 2s;
}
body {
	background-image : url('./images/back.png');
	background-size : 1905px;
	background-attachment: fixed;
}
	/*en-tête*/
#titre{
	font-family : "Ink free";
	font-size:350%;
	color :white;
	text-align : center;
	margin-top : 5%;

}
/* ampoule droite*/
#ampoule1{
	position : absolute;
	margin-left : 80%;
	margin-top : -300px;
}
#ampoule2{
	position : absolute;
	margin-left : 70%;
	margin-top : -300px;
}
#ampoule3{
	position : absolute;
	margin-left : 22%;
	margin-top : -300px;
}
#ampoule4{
	position : absolute;
	margin-left : 12%;
	margin-top : -280px;
}
#intro{
	font-family : "Calibri";
	margin-top : 3%;
	width : 20%;
	margin-left : 40%;
	margin-right : 40%;
	
}


#cadre1{
	font-family : "Calibri";
	margin-top : 3%;
	width : 20%;
	margin-left : 13%;
	float : left;

}
#cadre2{
	font-family : "Calibri";
	margin-top : 3%;
	width : 20%;
	margin-left : 7%;
	float : left;

}
#cadre3{
	font-family : "Calibri";
	margin-top : 3%;
	width : 20%;
	margin-left : 7%;
	float : left;

}
#cadre4{
	font-family : "Calibri";
	margin-top : 3%;
	width : 22%;
	margin-left : 30%;
	float : left;

}
#cadre5{
	font-family : "Calibri";
	margin-top : 3%;
	width : 20%;
	margin-left : 1%;
	float : left;
	margin-bottom: 2em;
}
.infobloc{
	font-size : 1em;
	text-align : justify;
	clear : left;
	font-family : "Calibri";
	width :78%;
	margin-left : 11%;
	padding : 1em;
	margin-top : 10em;
	color : #E2E2E2;
	font-size : 18px;
}
.infobloc b, .oeuvre2 b {
	color : white;
}
.infobloc h3{
	font-family : "Ink free";
	margin-left :43%;
}
.infoblocBlanc{
	text-align:justify;
	clear : left;
	font-family : "Calibri";
	font-size : 18px;
	width : 80%;
	margin-left : 10%;
	margin-bottom : 3%;
	padding : 1em;
	margin-top : 11em;
	background-color : white;
	color : black;
	border-radius : 1em;
	box-shadow: 6px 6px 6px 6px white;
}
#personne1{
	font-family : "Calibri";
	margin-top : 1%;
	width : 15%;
	margin-left : 11%;
	float : left;
}
#personne2{
	font-family : "Calibri";
	margin-top : 1%;
	width : 15%;
	margin-left : 6%;
	float : left;
}
#personne3{
	font-family : "Calibri";
	margin-top : 1%;
	width : 15%;
	margin-left : 6%;
	float : left;
}
#personne4{
	font-family : "Calibri";
	margin-top : 1%;
	width : 15%;
	margin-left : 6%;
	float : left;
	margin-bottom : 7em;
}
.image1{
	clear : left;
	float : left;
	margin-left : 7%;
	width : 32%;
	margin-top : -1em;	
}
.oeuvre1{
	font-family : "Calibri";
	text-align:justify;
	margin-top : 1em;
	margin-bottom : 2em;
	float : left;
	border-radius: 1em;
	padding : 2em;
	background-color:white;
	margin-left : 1%;
	margin-right : 10%;
	width : 50%;	
	box-shadow: 6px 6px 6px 6px white;
}
/* même taille police, plus proche*/
.infoblocBlanc p, .infobloc p {
	font-size : 15px;
}
.oeuvre2 p, .oeuvre 1p{
	font-size : 18px;
}
.oeuvre2{
	color : #E2E2E2;
	font-family : "Calibri";
	font-size : 1em;
	text-align:justify;
	clear : left;
	float:left;
	border-radius: 1em;
	margin-left : 10%;
	margin-top : 1em;
	padding : 2em;
	margin-right : 1%;
	width : 50%;	
}
.image2{
	margin-top : 2em;
	float : left;
	width : 32%;
	margin-right : 7%;	
}
/* css menu */

#menu {
	padding : 5%;
	margin-bottom : -11em;
	margin-top : -3em;
}
nav {
	width:100%;
	margin-left : 2%;
	padding:0;
	list-style:none;
	text-align: center;
	float : left;
	}
 
nav ul {
	padding:0;
	margin:0;
	list-style:none;
	text-align: center;
	
}
/*s'applique à toutes les balises li du menu*/
nav li {
	text-align : center;
    background-color : #282828;
    border-radius: 6px; /*angle arrondi pour le menu*/
    margin-bottom:2px;
    box-shadow: 3px 3px 3px #999;
	float:left;
	padding:0; 
	border-radius : 0;
	width : 12%;
}
nav li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0; /* pas d'angles arrondi pour les sous menus*/
   background: #282828;
   box-shadow: none;
   border:none;
   float :none;
   width : 100%;
   margin:0
}
nav li a {
	display:inline-block;
	width:auto; 
	color:white;
	text-decoration:none; 
	padding:3px;
}
nav a {
	text-align : center;
    text-decoration: none;
    color: #1b1b1b;
    padding: 8px 0;
}
/*lorsqu'on survole le menu*/
nav li:hover {
   background-color: #fffcd7;
}
nav li:hover a{
   color : black;
}

/*lorsqu'on survole le sous-menu*/
nav li li:hover {
   background-color: #fffcd7;
}
nav li:hover li a {
   color: white;
}
nav li li:hover a{
   color :black;
}
/*s'applique pour le "dernier enfant" la dernière subdivision du sous-menu*/
nav ul ul li:last-child {
   border-radius: 0 0 6px 6px; /* arrondir les angles*/
   border:none;
}
nav li:hover li {
	color : #1b1b1b;
  max-height: 30px;
}

#retour{
	clear : left;
	margin-left : 45%;
	width : 20%;
	padding-top : 2em;
	margin-bottom : 2em;

}
#retour a{
	color :white;
}



/* partie responsive 1200px */

