
/* partie responsive 1200px */


body{
	min-width : 500px;
}
#ampoule1, #ampoule2, #ampoule3, #ampoule4 {
	position : absolute;
	max-width : 200px;
}
#ampoule1{
	margin-top : -23%;
	margin-left : 80%;
}
#ampoule2{
	margin-left : 70%;
	margin-top : -23%
}
#ampoule3{
	margin-left : 20%;
	margin-top : -23%;
}
#ampoule4{
	margin-left : 10%;
	margin-top : -25%;
}
#intro{
	font-family : "Calibri";
	margin-top : 3%;
	width : 40%;
	margin-left : 35%;
	
}

#cadre1{
	clear : left;
	font-family : "Calibri";
	margin-top : 3%;
	width : 80%;
	margin-left : 10%;
	float : left;

}
#cadre2{
	clear : left;
	font-family : "Calibri";
	margin-top : 3%;
	width : 80%;
	margin-left : 10%;
	float : left;

}
#cadre3{
	clear : left;
	font-family : "Calibri";
	margin-top : 3%;
	width : 80%;
	margin-left : 10%;
	float : left;

}
#cadre4{
	clear : left;
	font-family : "Calibri";
	margin-top : 3%;
	width : 500px;
	margin-left : 35%;
	float : left;

}
#cadre5{
	clear : left; 
	font-family : "Calibri";
	margin-top : 3%;
	width : 600px;
	margin-left : 35%;
	float : left;
	margin-bottom: 7em;
}
.image1{
	clear : left;
	font-family : "Calibri";
	margin-top : 0px;
	width : 80%;
	margin-left : 10%;
	float : left;
}
.oeuvre1{
	clear : left;
	font-family : "Calibri";
	margin-top : 1%;
	width : 80%;
	margin-left : 10%;
	float : left;
}
.oeuvre2{
	clear : left;
	font-family : "Calibri";
	margin-top : 1%;
	width : 80%;
	margin-left : 10%;
	float : left;	
}
.image2{
	clear : left;
	font-family : "Calibri";
	margin-top : 1%;
	width : 80%;
	margin-left : 10%;
	float : left;
	
}
#personne1{
	clear : left;
	font-family : "Calibri";
	margin-top : 0px;
	width : 80%;
	margin-left : 10%;
	float : left;
}
#personne2{
	clear : left;
	font-family : "Calibri";
	margin-top : 3%;
	width : 80%;
	margin-left : 10%;
	float : left;
}
#personne3{
	clear : left;
	font-family : "Calibri";
	margin-top : 3%;
	width : 80%;
	margin-left : 10%;
	float : left;
}
#personne4{
	clear : left;
	font-family : "Calibri";
	margin-top : 3%;
	width : 80%;
	margin-left : 10%;
	float : left;
}
#infobloc{
	margin-top : 12em;
}
#menu {
	padding : 5%;
	margin-bottom : -11em;
	margin-top : 1%;
}

/* partie responsive 1200px */

@media only screen and (max-width:800px) {
	body{
		min-width : 500px;
	}
	#ampoule1, #ampoule2, #ampoule3, #ampoule4{
		margin-top : -200px;
		max-width : 150px;
	}
}